<style>
  .container {
    display: flex;
    flex-direction: column;
    width: 640px;
    font-family: Arial, Helvetica, sans-serif;
  }
  span{
     margin: 10px;
  }
</style>
<div class="container">
  <span>Hi, {{name}}</span>

  <span>You requested a password reset.</span>

  <span>
    To reset your password, please follow the link:
    <a href="{{link}}">{{link}}</a>
	</span>

	<span>If you didn't make this request, just ignore this message.</span>

	<strong>Thank you!</strong>

	<h3>RealEstate team</h3>
</div>